{% extends "orders/base.html" %}

{% block title %}
	Pizza Delivery - Home
{% endblock %}

{% block body %}

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  	<div class="collapse navbar-collapse" id="navbarSupportedContent" style="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}" >Home</a>
      </li>
     
     <li class="nav-item ">
        <a class="nav-link" href="{% url 'show_cart' %}">Cart</a>
      </li>
      <li class="nav-item ">
        
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
    </ul>
    <h1>Pizzas !!!</h1>

	</div>
</nav>
<hr>
  <div class="jumbotron">
    <div >
      <h3>Veg Pizzas</h3>

      <table class="table table-sm table-hover">
        <tr><td>  Pizza  </td><td>  Regular  </td><td>  Medium  </td><td>  Large  </td></tr>
        {% for pizza in v_pizzas %}

        <tr><td><a href="{% url 'add_items' pizza.pizza_type pizza.regular pizza.medium pizza.large %}">  {{pizza.pizza_type}}  </a></td><td>  {{pizza.regular}}  </td><td>  {{pizza.medium}}  </td><td>  {{pizza.large}}  </td></tr>

        {% endfor %}
      </table>

    </div>

    <div >
      <h3>Non-Veg Pizzas</h3>
      <table class="table table-sm table-hover">
        <tr><td>  Pizza  </td><td>  Regular  </td><td>  Medium  </td><td>  Large  </td></tr>
        {% for pizza in n_pizzas %}

        <tr><td><a href="{% url 'add_items' pizza.pizza_type pizza.regular pizza.medium pizza.large %}">  {{pizza.pizza_type}}  </a></td><td>  {{pizza.regular}}  </td><td>  {{pizza.medium}}  </td><td>  {{pizza.large}}  </td></tr>

        {% endfor %}
      </table>

    </div>

    <div >
      <h3>Toppings</h3>
      <table class="table table-sm table-hover">
        {% for t in toppings %}
        <tr><td>{{t.name}}</td><td>{{t.price}}</td> </tr>
        {% endfor %}
      </table>

    </div>

    
  </div>


{% endblock %}